.ipandlanguageredirect_suggest_container {
  height: 0;
  transition: height .5s ease-out;
  overflow: hidden;
  background: #FF9900;
  color: white;

  &.fadein {
    height: 20px;
    transition: height .5s ease-in;
    padding: 15px;
  }
}

.ipandlanguageredirect_suggest_container__message {
  text-decoration: underline;
  cursor: pointer;
  padding: 0 6px;

  &:first-child {
    border-right: 1px solid white;
  }

  a {
    color: white;
  }
}
