.ipandlanguageredirect_suggest_container {
  max-height: 0;
  transition: max-height .1s ease-out;
  overflow: hidden;
  background: #FF9900;
  color: white;

  &.fadein {
    max-height: 300px;
    transition: max-height .8s ease-in;
  }
}

.ipandlanguageredirect_suggest_container__message {
  text-decoration: underline;
  cursor: pointer;
  padding: 15px;
  display: inline-block;

  &:first-child {
    padding-right: 0;
    &:after {
      content: "|";
      display: inline-block;
      margin-left: 15px;
    }
  }

  a {
    color: white;
  }
}
