<f:comment>
	This template will be added to page.5 per default.
	Change the TypoScript if you want to adjust something.
</f:comment>
<div class="ipandlanguageredirect_suggest_container" data-ipandlanguageredirect-container="suggest">
	<span class="ipandlanguageredirect_suggest_container__message ipandlanguageredirect_suggest_container__message--link">
		<a href="#" data-ipandlanguageredirect-container="link">Diese Seite ist auch in einer anderen Region oder Sprache für Sie verfügbar</a>
	</span>
	<span class="ipandlanguageredirect_suggest_container__message ipandlanguageredirect_suggest_container__message--hide" data-ipandlanguageredirect-action="hideMessage">
		Diese Meldung nicht mehr anzeigen
	</span>
</div>
