:root {
  --ipandlanguageredirect-backgroundcolor: #FF9900;
  --ipandlanguageredirect-color: #FFFFFF;
  --ipandlanguageredirect-innerspacing: 1rem;
  --ipandlanguageredirect-maxheight: 300px;
  --ipandlanguageredirect-buttonspacing: 0.5rem;
}

.ipandlanguageredirect {
  background: var(--ipandlanguageredirect-backgroundcolor);
  color: var(--ipandlanguageredirect-color);
  list-style: none;
  margin-block: 0;
  text-align: center;
  /**
   * The following block comes from the extensions CSS and is necessary for the
   * slide in and out effect of the suggest message.
   */
  max-block-size: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}
.ipandlanguageredirect.fadein {
  max-block-size: var(--ipandlanguageredirect-maxheight);
  padding: var(--ipandlanguageredirect-innerspacing);
  transition: max-height 0.8s ease-in;
}
.ipandlanguageredirect__item {
  display: block;
}
.ipandlanguageredirect__item:not(:last-child)::after {
  border-block-end: 1px solid currentcolor;
  content: "";
  display: block;
  margin: 1rem auto;
  inline-size: 25%;
}
.ipandlanguageredirect__button {
  background-color: transparent;
  border: 0;
  color: currentcolor;
  padding: 0;
  text-decoration: none;
}
.ipandlanguageredirect__button:visited, .ipandlanguageredirect__button:hover, .ipandlanguageredirect__button:active {
  color: currentcolor;
}
.ipandlanguageredirect__button:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media (min-width: 680px) {
  .ipandlanguageredirect {
    display: flex;
    justify-content: center;
  }
  .ipandlanguageredirect__item {
    padding-inline: var(--ipandlanguageredirect-buttonspacing);
  }
  .ipandlanguageredirect__item:not(:last-child) {
    border-inline-end: 1px solid currentcolor;
  }
  .ipandlanguageredirect__item:not(:last-child)::after {
    display: none;
  }
}