<f:comment>
	This template will be added to page.5 per default.
	Change the TypoScript if you want to adjust something.
</f:comment>

<ul class="ipandlanguageredirect" data-ipandlanguageredirect-container="suggest">
	<li class="ipandlanguageredirect__item ipandlanguageredirect__item--first">
		<a class="ipandlanguageredirect__button" href="#" data-ipandlanguageredirect-container="link">
			<f:translate key="betterVersion">
				Get convenient version of this site
			</f:translate></a>
	</li>
	<li class="ipandlanguageredirect__item">
		<button class="ipandlanguageredirect__button" data-ipandlanguageredirect-action="hideMessage">
			<f:translate key="hideMessage">Hide message</f:translate>
		</button>
	</li>
</ul>
